<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Facebook friends</title>
        <link rel="stylesheet" href="../vendor/css/bootstrap.css" />
        <link rel="stylesheet" href="../vendor/css/bootstrap-theme.css" />

        <link href="app.css" rel="stylesheet" type="text/css"/>
        <link href="friends/ProfilesView.css" rel="stylesheet" type="text/css"/>
        <link href="friends/SearchView.css" rel="stylesheet" type="text/css"/>

		<link rel="stylesheet" href="../vendor/font-awesome/css/font-awesome.min.css">
    </head>
    <body>

        <div id="app-container">
			
            <div id="search-container">
                <div id="search-panel">
                    <input type="text" id="search-query" placeholder="Search..."/>
					<div id="sort-panel">
						<div class="button" id="sort-toggle-order"><i class="fa fa-sort-numeric-asc"></i></div>
						<div class="button" id="sort-by-name">Name</div>
						<div class="button" id="sort-by-birthdate">Birthdate</div>
					</div>
                </div>
                <div id="search-results-container">

                </div>
            </div>

			<div id="map-canvas"></div>

        </div>


        <!-- templates -->
        <script type="text/plain" id="tmpl_profile" charset="utf-8">
			<div class="profile-result-row">
				<div class="profile-image" style="background: url('<%= pictureUrl %>'); background-size: cover; background-position: center center; "></div>
				<table class="profile-name">
					<tr>
						<td colspan="2">
							<span class="profile-name-name"><%= name %></span>
							<span class="profile-name-surname"><%= surname %></span>
						</td>
					</tr>
					<tr>
						<td class="profile-situation">
							<%= situation %>
							&nbsp;
						</td>
						<td></td>
					</tr>
					<tr>
						<td class="profile-hometown">
							<%= hometown %>
							&nbsp;
						</td>
						<td class="profile-age">
							<%= age %>
							&nbsp;
						</td>
					</tr>
				</table>
			</div>
        </script>


        <!-- vendor -->
        <script src="../vendor/js/jquery.js" type="text/javascript" charset="utf-8"></script>
        <script src="../vendor/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
        <script src="../vendor/js/lodash.js" type="text/javascript" charset="utf-8"></script>
        <script src="../vendor/js/backbone.js" type="text/javascript" charset="utf-8"></script>
		<script src="mixins/Collection.uberSort.js" type="text/javascript" charset="utf-8"></script>

        <!-- app -->
        <script type="text/javascript">var FbFriends = {}; // declare "namespace"</script>
        <script src="data.js" type="text/javascript" charset="utf-8"></script>
        <script src="friends/App.js" type="text/javascript" charset="utf-8"></script>
        <script src="friends/Friend.js" type="text/javascript" charset="utf-8"></script>
        <script src="friends/Friends.js" type="text/javascript" charset="utf-8"></script>
        <script src="friends/ProfilesView.js" type="text/javascript" charset="utf-8"></script>
        <script src="friends/SearchView.js" type="text/javascript"></script>

        <!-- bootstrap -->
        <script type="text/javascript" charset="utf-8">
			var friends = new FbFriends.Friends(FRIENDS);
			var app = new FbFriends.App({
				el: $('#app-container')[0],
				// inner views
				profilesView: new FbFriends.ProfilesView({
					el: $('#search-results-container')[0],
					tmpl: _.template($('#tmpl_profile').html()),
					friends: friends
				}),
				searchView: new FbFriends.SearchView({
					el: $('#search-panel')[0],
					friends: friends
				})
			});
			friends.reset(FRIENDS);
        </script>

        <script type="text/javascript"
				src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnJEpeVXBdC04CTH136cEGkPncqfDjDkw&sensor=FALSE">
        </script>
        <script type="text/javascript">
			function initialize() {
				var mapOptions = {
					center: new google.maps.LatLng(-34.397, 150.644),
					zoom: 8
				};
				var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
			}
			google.maps.event.addDomListener(window, 'load', initialize);
        </script>
    </body>
</html>
