<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Facebook friends</title>

        <link href="../vendor/css/bootstrap.css" rel="stylesheet" type="text/css"/>
        <link href="../vendor/css/bootstrap-theme.css" rel="stylesheet" type="text/css"/>

		<link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

		<link href="View/App/AppView.css" rel="stylesheet" type="text/css"/>
		<link href="View/Map/MapView.css" rel="stylesheet" type="text/css"/>
		<link href="View/Profiles/ProfilesView.css" rel="stylesheet" type="text/css"/>
		<link href="View/Search/SearchView.css" rel="stylesheet" type="text/css"/>
		<link href="View/SearchTools/SearchToolsView.css" rel="stylesheet" type="text/css"/>
		<link href="View/Stats/StatsView.css" rel="stylesheet" type="text/css"/>
		<link href="View/Stats/Charts/Bar/BarChartView.css" rel="stylesheet" type="text/css"/>

    </head>
    <body>

        <div id="app-container">

			<div id="map-container"></div>

            <div id="search-container">
                <div id="search-tools-container"></div>
                <div id="search-results-container"></div>
            </div>

			<div id="stats-container"></div>

        </div>


        <!-- templates -->
        <script type="text/html" id="tmpl_profile">
			<div data-uid="<%= uid %>" class="profile-result-row">
				<div class="profile-image" style="background: url('<%= pictureUrl %>'); background-size: cover; background-position: center center; "></div>
				<table class="profile-name">
					<tr>
						<td colspan="2">
							<span class="profile-name-name"><%= name %></span>
							<span class="profile-name-surname"><%= surname %></span>
						</td>
					</tr>
					<tr>
						<td class="profile-situation">
							<%= situation %>
							&nbsp;
						</td>
						<td></td>
					</tr>
					<tr>
						<td class="profile-hometown">
							<%= hometown %>
							&nbsp;
						</td>
						<td class="profile-age">
							<%= age %>
							&nbsp;
						</td>
					</tr>
				</table>
			</div>
        </script>

		<script type="text/html" id="tmpl_search_panel">
			<input type="text" id="search-query" placeholder="Search..."/>
			<div id="sort-panel">
				<div class="button" id="sort-toggle-order"><i class="fa fa-sort-alpha-asc"></i></div>
				<div class="button" id="sort-by-name">Name</div>
				<div class="button" id="sort-by-birthdate">Birthdate</div>
				<div class="button" id="sort-by-location">Location</div>
			</div>
		</script>

		<script type="text/html" id="tmpl_map">
			<div id="map-canvas"></div>
		</script>

		<script type="text/html" id="tmpl_stats">
			<div id="stats-slider"></div>
		</script>

		<script type="text/html" id="tmpl_BarChart">
			<div class="stats-chart-title">
				<%= title %>
			</div>
			<svg>
				<g>
					<g class="slices"></g>
					<g class="labels"></g>
					<g class="lines"></g>
				</g>
			</svg>
		</script>

        <!-- vendor -->
        <script src="../vendor/js/jquery.js" type="text/javascript" charset="utf-8"></script>
        <script src="../vendor/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
        <script src="../vendor/js/lodash.js" type="text/javascript" charset="utf-8"></script>
        <script src="../vendor/js/backbone.js" type="text/javascript" charset="utf-8"></script>

		<script src="Mixins/Collection.uberSort.js" type="text/javascript" charset="utf-8"></script>

		<script src="http://d3js.org/d3.v3.min.js"></script>

        <!-- app -->
        <script type="text/javascript">
			// Namespaces & packages
			var FbFriends = {
				Handler: {},
				Model: {
					Stats: {}
				},
				View: {
					Charts: {}
				}
			};
		</script>
        <script src="data.js" type="text/javascript" charset="utf-8"></script>

		<script src="Model/Friend.js" type="text/javascript"></script>
		<script src="Model/Friends.js" type="text/javascript"></script>
		<script src="Model/Stat.js" type="text/javascript"></script>
		<script src="Model/Stats.js" type="text/javascript"></script>
		<script src="Model/Stats/MFDistribution.js" type="text/javascript"></script>
		
		<script src="Handler/MapHandler.js" type="text/javascript"></script>

		<script src="View/App/AppView.js" type="text/javascript"></script>
		<script src="View/Map/MapView.js" type="text/javascript"></script>
		<script src="View/Profiles/ProfilesView.js" type="text/javascript"></script>
		<script src="View/Search/SearchView.js" type="text/javascript"></script>
		<script src="View/SearchTools/SearchToolsView.js" type="text/javascript"></script>
		<script src="View/Stats/StatsView.js" type="text/javascript"></script>
		<script src="View/Stats/Charts/Bar/BarChartView.js" type="text/javascript"></script>
		
		<script type="text/javascript"
				src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnJEpeVXBdC04CTH136cEGkPncqfDjDkw&sensor=FALSE">
        </script>

        <!-- bootstrap -->
        <script type="text/javascript">
			var friends = new FbFriends.Model.Friends(FRIENDS);

			var stats = new FbFriends.Model.Stats([
				new FbFriends.Model.Stats.MFDistribution({
					friends: friends
				})
			]);

			var profilesView = new FbFriends.View.ProfilesView({
				el: $('#search-results-container')[0],
				tmpl: _.template($('#tmpl_profile').html()),
				friends: friends
			});

			var app = new FbFriends.View.App({
				el: $('#app-container')[0],
				// Inner views
				searchView: new FbFriends.View.SearchView({
					el: $('#search-container')[0],
					searchToolsView: new FbFriends.View.SearchToolsView({
						el: $('#search-tools-container')[0],
						tmpl: _.template($('#tmpl_search_panel').html()),
						friends: friends
					}),
					profilesView: profilesView
				}),
				statsView: new FbFriends.View.StatsView({
					el: $('#stats-container')[0],
					tmpl: _.template($('#tmpl_stats').html()),
					stats: stats,
					body: $('body')
				}),
				mapView: new FbFriends.View.MapView({
					el: $('#map-container')[0],
					tmpl: _.template($('#tmpl_map').html())
				})
			});

			var map = new FbFriends.Handler.MapHandler({
				el: document.getElementById("map-canvas"),
				profilesView: profilesView
			});

			friends.reset(FRIENDS);
        </script>
    </body>
</html>
